  <div class="container">
    

    <div class="header-container">
        <div class="header-logo">
          <a href="<%= root_path %>"><%= image_tag("conversion-getter-logo.png", class: 'big-logo') %></a>
          <a href="<%= root_path %>"><%= image_tag("small-logo.png", class: 'small-logo') %></a>
        </div>
        <div class="header-nav">
          <ul>
            <li><a href="<%= root_path %>">HOME</a></li>
            <li><a href="/#services">SERVICES</a></li>
            <li><a href="/#contact">CONTACT</a></li>
            <a href="/#contact"><button class="quote-btn">GET QUOTE</button></a>
          </ul>
        </div>
      </div>

    <section>

    <h1 class="center">Thank you!</h1>
    <p class="center">We'll get back to you as soon as we can!</p>
      
    </section>  


    <section class="grey-background">
      <h2>WHY US?</h2>
      
      <div class="item-container">

        <div class="item center-item">
          <i class="fas fa-bullseye"></i>
          <h3>We Are Modern Marketers</h3>
          <p>We dive deep to understand your position in the marketplace and why people should feel the need to buy your product/service. We’re determined to cement this position of your brand in the minds of the people that you seek to serve and build the tension needed for them to take action.</p>
        </div>

        <div class="item center-item">
          <i class="fas fa-lightbulb"></i>
          <h3>We Are Innovative Marketers</h3>
          <p>We constantly seek new, better, and more efficient ways to reach the people that you seek to serve. By combining best practices and being at the forefront when it comes to the latest most innovative marketing strategies, we’ll give your brand the best opportunity to grow and reach new heights.</p>
        </div>

        <div class="item center-item">
          <i class="fas fa-heart"></i>
          <h3>We are Transparent Marketers</h3>
          <p>Our goal is to be as transparent and receptive as possible with our clients. To do that, we’ll create a marketing plan that will include the goals we agree on, the strategies we’ll use to achieve them, and the metrics we’ll use to measure the performance of our marketing efforts.</p>
        </div>

      </div>
      
    </section>


    <%= render(partial: "shared/footer") %>

  </div>