 <div class="container">
    

      <div class="header-container">
        <div class="header-logo">
          <a href="<%= root_path %>"><%= image_tag("conversion-getter-logo.png", class: 'big-logo') %></a>
          <a href="<%= root_path %>"><%= image_tag("small-logo.png", class: 'small-logo') %></a>
        </div>
        <div class="header-nav">
          <ul>
            <li><a href="<%= root_path %>">HOME</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <a href="#contact"><button class="quote-btn">GET QUOTE</button></a>
          </ul>
        </div>
      </div>
</div>