
  
  <div class="container">

      <header class="blue-background">
        <figure>
          <a href="<%= root_path %>"><%= image_tag("conversion-getter-logo.png") %></a>
        </figure>
        <nav>
          <ul>
            <li><a href="<%= root_path %>">HOME</a></li>
            <li><a href="/#services">SERVICES</a></li>
            <li><a href="/#contact">CONTACT</a></li>
            <li><a href="<%= mm_path %>"><button class="m-m-btn">MODERN MARKETING</button></a></li>
            <li><a href="/#contact"><button class="quote-btn">GET QUOTE</button></a></li>
          </ul>
        </nav>  
      </header>

      <!-- Possible main here with either login information or a did you know we offer marketing services ... read more -->
    
      <section class="grey-background">

        <h2>MODERN MARKETING</h2>
        
        <div class="course-container">
          <div class="course-header">
            <h3>MASLOW'S HIERARCHY</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Maslow's famous pyramid describes five universal needs experienced by most humans. According to Maslow, human behavior and decision-making are motivated by one of the five need levels in his hierarchy:</p>
            <%= image_tag("maslow.png", class: "reduce-img-size") %>
            <p>Important marketing concepts such as <b>needs</b> and <b>wants</b> have a direct correlation to Maslow’s pyramid.</p>
            <p>From a marketing perspective, needs represent the first level of the Maslow hierarchy. These are fundamental needs such as air, food, and shelter, that we depend on in order to survive and to function as human beings.</p>
            <p style="margin-bottom: 40px">When we have everything we need to survive, any other need (defined in the levels above) becomes a want. A want is a need that we can live without, but that we desire to make our lives better.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>FIND OPPORTUNITY IN 2018</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">A great product/service, is a product/service that has been built to address a need in a marketplace that has been ignored or even partly ignored by others.</p>
            <p>In order to build such a product/service, you must find out, or initially assume, that such a need exists. You must also figure out whether the position you would occupy in the marketplace — to address this need — is not crowded (preferably empty).</p>
            <p>If you already have a product/service that has been launched, you might have to reevaluate your positioning to give yourself an edge. If your business works fine as it is — it’s likely that you already occupy a favorable position in the marketplace.</p>
            <p>Where do we start? We start by asking a simple empathetic question: </p>
            <ul>
              <li>In the marketplace that you wish to operate within, is there a need that is being ignored or even partly ignored by others?</li>
            </ul>
            <p style="margin-bottom: 40px;">There are multiple ways of finding an answer to this question. For example, you could create a survey, do market research or base it off your own experience and beliefs.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>MARKET RESEARCH</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Once upon a time, as a marketer, you could rely heavily on statistics to find opportunities in the marketplace. Today, it’s different. All the obvious needs are already being addressed by a plethora of companies. The low hanging fruit is gone.</p>
            <p>To be successful at market research today, you must look beyond statistics and have faith in your ability to feel empathy. If you want to find unaddressed needs in a marketplace, you must imagine how it’s like to walk in other people’s shoes.</p>
            <p>The ability to feel empathy is the key to your success. If your product/service fails, it will likely be due to your inability to see what the people you were looking to serve really needed.</p>
            <p style="margin-bottom: 40px;">Unfortunately, feeling empathy is hard. In fact, it’s impossible to fully see the world through someone else’s eyes. That’s why some product/services becomes a major success while others fail. While it may be hard, it’s possible to get close, and that’s a start.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>POSITIONING</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">To help you decide whether you should commit to creating a product/service — which addresses a need that you believe is neglected — you can draw a positioning grid.</p>
            <p>A positioning grid allows you to see where you are positioned in the marketplace relative to your competitors when considering variables such as needs or features.</p>
            <p>For example, if you draw a positioning grid with two axes that represent quality and price, you will find that most brands compete to be the cheapest. When you compete on price, quality will almost always suffer (at least it’s perceived that way):</p>
            <%= image_tag("positioning-1.png") %>
            <p>By positioning yourself properly, you won’t have to compete on price which essentially is a race to the bottom.</p>
            <p>Ideally, you want to position yourself in a quadrant that is not crowded. Addressing a need that is ignored or even partly ignored will allow you to achieve such a position in the marketplace that you wish to operate within.</p>
            <%= image_tag("positioning-2.png") %>
            <p>In today’s highly-competitive marketing landscape, that’s exactly what you want — because you can’t afford to blend in. You have to stand out.</p>
            <p>By incorporating positioning early in the process of building your brand, you make sure you are different. Early positioning will also act as a reminder of who you need to be and what you need to stand for in order to resonate with the people that you seek to serve.</p>
            <p>Don’t be afraid to redraw and explore new axes to find an advantageous position in the marketplace. When you find your position, it’s imperative that your brand, product/service, and marketing reflects this positioning.</p> 
            <p style="margin-bottom: 40px;">If you fail to communicate this position, you will end up occupying a different position in the minds of the people that you seek to serve.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>PERSONAS</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Looking back, you have created a product/service that has been built to satisfy an unfulfilled need shared by a group of people.</p>
            <p>However, the need experienced by people in this group might have a different origin that you can address in different ways.</p>
            <p>To define different people that share the same need for your product/service — you use personas.</p>
            <p>A persona represent a group of people that share the same worldviews. These people are defined by using demographics and psychographics:</p>
              <ul>
                <li><b>Demographics:</b> Age, gender, education, location, salary, etc.</li>
                <li><b>Psychographics:</b> Desires, beliefs, frustrations, fears, etc.</li>
              </ul>
            <%= image_tag("personas.png") %>
            <p style="margin-top: 40px;">The more accurate you are at describing the different personas in your business — the greater the chance that you will be able to tell stories that resonate.</p>
            <h4>GOING DEEPER</h4>
            <p>iPhone is positioned as a neat, well-designed, and easy-to-use smartphone. These are features that could very well be the reason why people feel the need/want to buy an iPhone.</p>
            <p>However, if we go deeper, as Maslow put it: each decision, including purchasing something, is motivated by a basic human need. Therefore, the true reason of purchasing an iPhone could actually be to gain status or perhaps to fit in.</p>
            <p>Your success, as a marketer, will depend on your ability to identify the worldviews of the people experiencing the need; which your product/service has the purpose to fill.</p>
            <p>When you know how people think and feel, you will be able to tell a story that position your product/service as the perfect solution to satisfy their unfulfilled needs.</p>
            <h4>EXAMPLE</h4>
            <p>If you were Apple back in 1984, when they launched the MacBook, you would have addressed the needs of people who wanted not only a computer, but a simple, yet beautiful computer.</p>
            <p>At that time, you were the only one telling the story that resonated with these people. You got their attention, and they wanted to learn more.</p> 
            <p>Today the MacBook is not only simple with aesthetic appeal, it has also become extremely useful to different kinds of people. There are photographers, programmers, musicians, students, and people of all ages, whom experience the need of having a beautiful and simple computer.</p>
            <p>Think deeply about this.</p>
            <ul>
              <li>Why would a photographer want a simple, yet beautiful laptop? Is it possible that they want to achieve their true potential?</li>
              <li>Why would a teenager want a simple, yet beautiful laptop? Is it possible that they want to gain status?</li>
              <li>Why would a tech person want a simple, yet beautiful laptop? Is it possible that they want to fit in.</li>
            </ul>
            <p>These are different people with different worldviews. As a marketer, this give us an opportunity to be personal and to have empathy. </p>
            <p style="margin-bottom: 40px;">As a summary, to define people with different worldviews — we create personas. Ultimately, these personas will reveal what story you need to tell in order to resonate with that group of people.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>TENSION</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Tension is the feeling we experience when we are between two opposite forces. As marketers, we can build tension in the people we seek to serve, and position our product/service as a way to relieve that tension.</p>
            <%= image_tag("tension.png", class: "reduce-img-size") %>
            <ul>
              <li>Not knowing <= Tension => To know</li>
              <li>Not having a car <= Tension => To have a car</li>
              <li>Being mediocre <= Tension => To be someone</li>
              <li>Being left out <= Tension => To belong</li>
              <li>Not being yourself <= Tension => Being yourself (snickers)</li>
              <li>What I don’t have <= Tension => What I could have</li>
              <li>What I’m doing <= Tension => What I could be doing instead</li>
              <li>What’s wrong <= Tension => What’s right</li>
              <li>I’m obese <= Tension => I want to be fit</li>
              <li>I’m here <= Tension => But I want to be there</li>
              <li>Opinion <= Tension => Opposite opinion</li>
              <li>Presence <= Tension => Future</li>
              <li>Villain <= Tension => Hero</li>
              <li>Bad <= Tension => Good</li>
            </ul>
            <p>The list goes on..</p>
            <p>The feeling of tension is felt as an emotion such as fear, anger, and anticipation.</p>
            <p>Once you take your persona to the peak of his/her tension, (whether by building fear, anger or anticipation) show how your product/service releases the tension. The more tension you build, the more valuable  your product/service will be in the minds of the people that you seek to serve.</p>
            <p>Tension is something you will feel often when reading fiction books. Tension, in the form of anticipation that is built up by the author and experienced by us reading the book.</p>
            <p>The higher the tension is between not knowing and knowing, the more likely we are to finish the book to release the tension. You will find that telling a good story, from a marketing perspective, is not much different.</p>
            <p>We are emotionally driven beings that make our decisions based on how we feel. That’s why tension works. Because tension is an uncomfortable feeling. Becoming aware of something that causes tension is what will motivate people to take action.</p>
            <p>If you have created your product/service based on a need in a marketplace that you believe is ignored or partly ignored — you will have a built-in tension that your product/service releases.</p>
            <p>If you didn’t create your product/service around addressing a particular need — you must find the tension people should experience from not having/using your product/service.</p>
            <p>Being specific when defining your personas is essential if you want to be successful at identifying a source of tension that is relevant.</p>
            <p>Use this tension in your marketing messaging as vividly as possible. Keep intensifying this tension until the people you seek to serve must take action in order to release the tension.</p>
            <p>However, in order for people to believe that your product/service is the best way for them to relieve the tension you brought upon them, they must trust you.</p>
            <p style="margin-bottom: 40px;">Thus, we must start by building trust so that when we build tension in people, they will trust that we will be able to release it.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>TRUST</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">You can create how much tension you want, but if people don’t trust that you can release their tension, they won’t be comfortable moving forward with you.</p>
            <p>So how do we build trust?</p>
            <h4>BE RELIABLE</h4>
            <p>Being reliable is about keeping the promises that you make. Initially, it’s hard for people to believe that you are reliable/competent, because they have never interacted with you before.</p>
            <p>To get around this, show the promises you have made to similar people in a similar situation and how you kept that promise. You can do that by showing testimonials, reviews, and case studies.</p>
            <p>If you are completely new without a customer history, you will need people to take a chance with you. To make them more inclined of taking such a risk, you can offer a discount or offer your service for free if they are willing to give you an honest testimonial in return.</p>
            <h4>BE HONEST</h4>
            <p>Another component of building trust is honesty. By default, most people are suspicious towards people that are trying to sell something. This is because, we don’t want to be fooled by a “sketchy salesman,” that is looking to make a quick buck.</p>
            <p>Therefore, when people look to trust someone new they will look for truthfulness. If it is obvious, that you are exaggerating all the good things about your product/service while concealing all the bad things; people might think they are being misled to believe something that is untrue.</p>
            <p>Another common thing you will see is fake testimonials. If you are new and thinking about creating your own fake testimonials — be careful, as it can destroy all the trust you have built.</p>
            <h4>BE CARING</h4>
            <p>You can also build trust by demonstrating that you care about the people you seek to serve. Caring, as a way of building trust, can be extremely effective as we are more likely to trust someone that we feel has our best intention in mind.</p>
            <p>Caring, however, is not as simple as it may seem, because caring is a demonstration of empathy. If your product/service was born from empathy, you will have an easier time to demonstrate care as the product/service is the result of caring about someone else’s need.</p>
            <h4>PROVIDE EVIDENCE</h4>
            <p>One of the most powerful components of building trust is to provide evidence. The best type of evidence is one from an objective source that cannot be denied. Unlike, a testimonial which can be faked.</p>
            <h4>CONCLUSION</h4>
            <p>As you have probably noticed, there are many components to building trust, yet we have only touched the surface. Building trust is a constant work in progress as everything you do will either build or destroy it.</p>
            <p style="margin-bottom: 40px;">You know what they say: “Trust take years to build, seconds to break, and forever to repair’ — so manage it carefully.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>STORYTELLING</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">If you have been following along from the beginning, you should at this point have all the necessary elements for telling a story that will resonate with the people that you seek to serve:</p>
            <ul>
              <li>You have the main character (the star of the story) which is represented by your personas.</li>
              <li>You know their struggles which represent the unfulfilled need that your product/service address.</li>
              <li>You have a product/service that will release the tension caused by addressing the unfulfilled need.</li>
            </ul>
            <p style="margin-bottom: 40px;">Include all of these elements while keeping your story short and simple. If the people that you seek to serve resonate with the story you are telling — they will want to be a part of it.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>BRANDING</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Your brand is the sum total of every aspect of your business such as your product/service, the story you tell, the design of your website, the images you use, your logo, your name, your slogan, etc.</p>
            <p>Essentially everything you do — in the name of your business — will add up to the perception people will have of your business.</p>
            <p>The key question you must ask yourself is:</p>
            <p>How do you want people to perceive your business?</p>
            <p>A good place to start is to look back at the position you want to claim in the marketplace and the need you want to address for the people that you seek to serve.</p>
            <p>With that in mind, who do you need to be and what do you need to stand for in order to resonate with the people that you seek to serve?</p>
            <p>Everything you do from this point, in one way or another, shall cement this perception of your business in the minds of the people that you seek to serve. Consistency is key if you want people to believe it.</p>
            <h4>NAMING</h4>
            <p>Over time, a lot of things in your business will change. It’s a natural progression for every business that wants to stay relevant in a world that is constantly changing.</p>
            <p>In fact, your ability to adapt your business to the world you live in, is going to be essential for the survival of your business.</p>
            <p>One thing, however, that should always remain the same is your name. Why? Because the name is strongly associated with the brand you have built. If you change your name, you will have to start all over.</p>
            <p>Thus, you only get one chance of picking your name, so be mindful of your decision.</p>
            <p>Here’s a checklist that can help you choose a name:</p>
            <ul style="margin-bottom: 40px;">
              <li>Does it work if you in a future scenario would have to change what you are doing while still serving the same people?</li>
              <li>If you want to expand your business in the future to do more than what you are currently doing, would the name be generic enough to represent the expanded version of your business?</li>
              <li>Is the name yours to claim? Do a Google search to see if it’s not already heavily associated with another business in the proximity of where you will operate your business.</li>
              <li>Will you be able to purchase a domain? Note that you don’t have to use .com, however, it’s the domain type that generate the most trust. If you operate in a specific country, the domain associated with that country will work just fine.</li>
              <li>Does the sound of it make people feel part of something?</li>
              <li>Is it inline with the perception you want people to have of your business?</li>
            </ul>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>FUNNEL</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Funnel is the analogy we use when we describe the process of making people aware of our existence to ultimately becoming a customer.</p>
            <p>For every step of this process, less and less people will remain in the funnel, hence why it’s called a funnel.</p>
            <p>Using a funnel helps you create a strategy with measurable steps so that you can easily calculate the effect of your marketing.</p>
            <p>Here’s an example that describe three measurable stages of a customer’s journey throughout a funnel:</p>
            <ol>
              <li><b>Become Aware:</b> They first become aware of your brand and that you have a product/service that address a particular need. To see how well you are doing at this step of the funnel, you can look at metrics such as reach.</li>
              <li><b>Become a Lead:</b> If they resonate with the story you tell, it’s likely they take the next step which, typically, is to become a lead. To see how well you are doing at this step of the funnel, you can look at metrics such as the number of subscribers.</li>
              <li><b>Become a Customer:</b> If they want to fill the need with your product/service they will become a customer of yours. To see how well you are doing at this step of the funnel, you can look at metrics such as the number of purchases.</li>
            </ol>
            <p>If you were running an ad, you would easily see how many that are moving onto the next step. Based on that information, you can calculate how much a lead or a conversion cost and thus be able to see if your advertising yields a positive ROI.</p>
            <p>To help people move through your funnel, through all steps, you must perform marketing activities that motivates them to take the next step:</p>
            <ol>
              <li><b>From stranger to aware:</b> Ad, blog, video, podcast, etc.</li>
              <li><b>From aware to lead:</b> Lead magnet.</li>
              <li><b>From lead to customer:</b> Emails, phone calls, testimonials, case studies, discount, freebie, free consultation, etc.</li>
            </ol>
            <p><b>Note:</b> A lead magnet is any form of free value that you offer in exchange for someone’s email.</p>
            <%= image_tag("funnel-1.png", class: "reduce-img-size") %>
            <h4>FUNNEL EXAMPLE</h4>
            <p>Imagine that you have a business that sell healthy cat food. Your standard offer, which we will promote, is subscription based and will deliver cat food once a week to subscribers at a cost of $29 a month.</p>
            <p>Thinking about the customer journey we want to create and how a funnel would define it, we might come up with something like this:</p>
            <%= image_tag("funnel-2.png", class: "reduce-img-size") %>
            <p>The first step of the funnel is to make strangers aware of who we are and what we stand for. To do that, we will use direct marketing in the form of advertisements on platforms that we know the people we seek to serve hangout.</p>
            <p>In this particular campaign, we will advertise our lead magnet which is our ebook “How to Extend the Life of Your Cat”. The goal with this ebook is to attract people that are interested in keeping their cats healthy which is a need that our cat food address.</p>
            <p>When people opt-in and become leads, we will send them an automated email series that will help build the tension required for them to take action.</p>
            <p>Sometimes this will be enough and they will become our customer. However, for those that went through the entire automated email series without taking action, we will give them a last incentive. We will offer 1-month free trial with hopes that they will love our service and keep using it.</p>
            <p>When we have the entire funnel figured out, the ebook written, the ad and email series created, and our product/service is ready, we will start the engine.</p>
            <h4>FUNNEL MATH</h4>
            <p>Now, imagine that we run this ad campaign until we get 1,000 impressions which cost us $50.</p>
            <p><b>Note:</b> These are just arbitrary numbers to demonstrate the math.</p> 
            <p>Out of these 1,000 impressions 20 people got our ebook and became a lead. If we do the math, that’s a 2% conversion rate, and the cost per lead would be $2.5.</p>
            <%= image_tag("funnel-3.png", class: "reduce-img-size") %>
            <p>With other words, we got 20 new leads for $50. Now, let’s further imagine that we ran our automated email series to these new leads and got 2 trials by the end of it.</p>
            <p>Depending on how well we fully convert these trials, we may have got 2 new customers for $50. Since our product is $29 per month, this funnel have the potential to be very profitable.</p>
            <p>If it is profitable according to our calculations, there shouldn’t be anything stopping you from shoveling as many people as you possible can into the funnel.</p>
            <p><b>Be careful:</b> When you know how much it will cost you to get a customer, it’s up to you to decide whether it’s worth it or not.</p>
            <h4>FUNNEL DIAGNOSTICS</h4>
            <p>However, if you are not as profitable as you want, you want to go ahead and optimize the funnel. Since we have metrics at every stage of the funnel, we can gage how well we are doing at each stage of the funnel.</p>
            <p>For example, if you think your cost per lead is too high, you know that there is something wrong in either the first stage or the second stage of the funnel.</p>
            <p>It can be that the story you are telling in the ad is not resonating with the people that you seek to serve. It can also be that you are targeting the wrong people altogether or your lead magnet is not perceived as valuable enough.</p>
            <p>If you are able to generate leads at a decent price but you are not able to convert them, you know there is something wrong with the third stage of your funnel. It could also be that your lead magnet doesn’t attract the people that would be interested in what you have to offer.</p>
            <p style="margin-bottom: 40px;">If you find a reason to optimize your funnel, do only change ONE thing at a time, and then try again.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>BRAND MARKETING</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Brand marketing is about helping people understand who you are and what you stand for — and to build credibility and loyalty in the process.</p>
            <p>Unlike direct marketing (which we will talk about in a second), brand marketing is not about getting immediate and measurable results, but to increase awareness and recognition of your brand.</p>
            <p>Think about your positioning and the need of the people that your product/service satisfies. This is essentially why you exist in the first place, it’s your identity in the marketplace, it’s how people should perceive you — it’s your brand.</p>
            <p>Brand marketing is a way to communicate the mission that you are on, so when the people that you seek to serve, feel the need of what you are offering — your brand will be top of mind.</p>
            <p>In order for people to understand the mission you are on, and to be top of mind, your brand marketing must be consistent. This means you have to show up frequently — not necessarily with the same words but with the same consistent message — to the same group of people.</p>
            <p>If brand marketing is something you seek to pursue, beware that it is going to be a long process. It can also be an expensive endeavor since it is not going to get you any immediate results.</p> 
            <p>However, if you stay true to brand marketing over a longer period of time, it will help you drive business in the future as more people become familiar with your brand.</p>
            <p>Since brand marketing requires frequency — you must figure out how long you can maintain the story you are telling and if it is ultimately worth it.</p>
            <p>Note that brand marketing doesn’t have to be about paid advertisements. Brand marketing is any communication, on any channel, that has an effect on how people perceive your brand.</p>
            <p>Everything from your logo, your slogan, the pictures you post on Instagram, the posts on your Facebook wall, the customer service, and everything in between, is all about how you are marketing your brand.</p>
            <p style="margin-bottom: 40px;">The result of your brand marketing is ultimately how people will perceive your business. Whether you pay for brand marketing or not, it should be an essential part of your overall marketing strategy.</p>
          </div>
        </div>

        <div class="course-container">
          <div class="course-header">
            <h3>DIRECT MARKETING</h3>
            <button class="col-ex">EXPAND</button>
          </div>
          <div class="course-body">
            <p style="margin-top: 40px;">Direct marketing is about getting immediate and measurable results — which is the complete opposite to brand marketing.</p>
            <p>Consider brand marketing as a way to position yourself to get business in the future, while direct marketing is about getting business here and now — in the presence.</p>
            <p><b>Brand marketing is about creating a feeling while direct marketing is about satisfying a feeling.</b></p>
            <p>When you perform direct marketing, you will know when it works and when it doesn’t — because numbers don’t lie. This allow us to measure and test on a small scale to find what works, and when we find what works — we apply it on a bigger scale.</p>
            <p>One of the most essential parts of any direct marketing campaign is the funnel. As we have mentioned earlier, a funnel helps you to create a strategy for each stage of a customer’s journey from stranger to becoming a customer.</p> 
            <p style="margin-bottom: 40px;">To see an example of how direct marketing is performed, check out the example in the funnel section.</p>
          </div>
        </div>
        
      </section>

    <%= render(partial: "shared/footer") %>

  </div>