<footer>
      <div class="link-container">
        <div class="link-item">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="<%= root_path %>">Home</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </div>
        <div class="link-item">
          <h4>SERVICES</h4>
          <ul>
            <li><a href="<%= smm_path %>">Social Media Management</a></li>
            <li><a href="<%= seo_path %>">Search-Engine-Optimization</a></li>
            <li><a href="<%= advertising_path %>">Advertising</a></li>
          </ul>
        </div>
        <div class="link-item">
          <h4>LEGAL</h4>
          <ul>
            <li><a href="<%= terms_path %>">Terms</a></li>
            <li><a href="<%= privacy_path %>">Privacy</a></li>
          </ul>
        </div>
       
      </div>
    </footer>