  <div class="container">
    <div class="big-header">
      
      <div class="header-container">
        <div class="header-logo">
          <a href="<%= root_path %>"><%= image_tag("conversion-getter-logo.png", class: 'big-logo') %></a>
          <a href="<%= root_path %>"><%= image_tag("small-logo.png", class: 'small-logo') %></a>
        </div>
        <div class="header-nav">
          <ul>
            <li><a href="<%= root_path %>">HOME</a></li>
            <li><a href="/#services">SERVICES</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <a href="#contact"><button class="quote-btn">GET QUOTE</button></a>
          </ul>
        </div>
      </div>

    <section>

      <h1 class="center">Thank you for signing up!</h1>
      <center><a href="<%= mmc_path %>"><button class="quote-btn">PROCEED TO COURSE</button></a></center>
    
    </section>  

    <%= render(partial: 'shared/contactform') %>

    <%= render(partial: "shared/footer") %>

  </div>