<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124844537-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124844537-1');
</script>

    <title>ConversionGetter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '238670840158066');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=238670840158066&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %><span class="close" style="margin-left: 5px; cursor: pointer;">[x]</span></div>
    <% end %>
    <% if flash[:success] %>
      <div class="success"><%= flash[:success] %><span class="close" style="margin-left: 5px; cursor: pointer;">[x]</span></div>
    <% end %>
    <%= yield %>
  </body>
  <% case params[:action] %>
    <% when 'index', 'special' %>
      <%#= javascript_pack_tag 'fixed-header' %>
      <%= javascript_pack_tag 'smooth-scroll' %>
      <%= javascript_pack_tag 'dynamic-form' %>
      <%= javascript_pack_tag 'close' %>
    <% when 'smm', 'seo', 'ppc' %>
      <%= javascript_pack_tag 'smooth-scroll-services' %>
      <%= javascript_pack_tag 'close' %>
      <%= javascript_pack_tag 'dynamic-form' %>
      <%= javascript_pack_tag 'close' %>
    <% when 'privacy', 'terms', 'dream' %>
      <%= javascript_pack_tag 'light-smooth-scroll' %>
      <%= javascript_pack_tag 'dynamic-form' %>
      <%= javascript_pack_tag 'close' %>
    <% when 'mmc' %>
      <%= javascript_pack_tag 'collapsediv' %>
      <%= javascript_pack_tag 'close' %>
    <% else %>
      <%= javascript_pack_tag 'close' %>
  <% end %>
</html>
