<!DOCTYPE html>
<html>
  <head>
    <title>ConversionGetterv2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %><span class="close" style="margin-left: 5px; cursor: pointer;">[x]</span></div>
    <% end %>
    <% if flash[:success] %>
      <div class="success"><%= flash[:success] %><span class="close" style="margin-left: 5px; cursor: pointer;">[x]</span></div>
    <% end %>
    <%= yield %>
  </body>
  <% case params[:action] %>
    <% when 'index', 'special' %>
      <%= javascript_pack_tag 'fixed-header' %>
      <%= javascript_pack_tag 'smooth-scroll' %>
      <%= javascript_pack_tag 'dynamic-form' %>
      <%= javascript_pack_tag 'close' %>
    <% when 'smm', 'seo', 'ppc' %>
      <%= javascript_pack_tag 'smooth-scroll-services' %>
      <%= javascript_pack_tag 'close' %>
      <%= javascript_pack_tag 'dynamic-form' %>
      <%= javascript_pack_tag 'close' %>
    <% when 'privacy', 'terms', 'dream' %>
      <%= javascript_pack_tag 'light-smooth-scroll' %>
      <%= javascript_pack_tag 'dynamic-form' %>
      <%= javascript_pack_tag 'close' %>
    <% when 'mmc' %>
      <%= javascript_pack_tag 'collapsediv' %>
      <%= javascript_pack_tag 'close' %>
    <% else %>
      <%= javascript_pack_tag 'close' %>
  <% end %>
</html>
